html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #283048;  /* fallback for old browsers */
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
